<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="padding-right : 20px" >My App</span>
    <span class="example-spacer"></span>

        <span><a style="padding-right : 20px" routerLink="auth">Authentification </a> </span>


        <span><a style="padding-right : 20px" routerLink="students">étudiants </a>

        </span>
        <span> <a style="padding-right : 20px" routerLink="classes">Salles de classes</a>  </span>

        <span> <a style="padding-right : 20px" routerLink="new-student">Ajouter étudiant</a>  </span>



  </mat-toolbar>
</p>
