<div class="container">

<form [formGroup]="studentForm" (ngSubmit)="onSubmit()">

<div class="form-group">
<label for="prenom">
Prénom
</label>
<input type="text" id="prenom" class="form-control" formControlName="prenom" >

</div>
<div class="form-group">
<label for="fname">
Nom de famille
</label>
<input type="text" id="fname" class="form-control" formControlName="familyName">
</div>
<div class="form-group">
<label for="age">
Age
</label>
<input type="number" id="age" class="form-control" formControlName="age">
</div>
<div class="form-group">
<label for="status">
présence
</label>
<select id="status" class="form-control" formControlName="presence">
<option value=true> Présent </option>
<option value=false> Absent </option>
</select>
</div>
<div formArrayName="hobbies">
<h3 *ngIf="getHobbies().controls.length>0"> Hobbies : </h3>
<div class="form-group" *ngFor="let hobbyControl of getHobbies().controls; let i = index">
<input type="text" id="age" class="form-control" [formControlName]="i">
</div>
<button class="btn btn-primary" type="button" (click)="onAddHobby()"> Ajouter un passe-temps </button>

</div>

<button class="btn btn-primary" type="submit"> Enregistrer </button>
<small style="color:red" *ngIf="error===true"> Il y a eu une erreur </small>

</form>
</div>
