
<!-- String interpolation -->
  <mat-expansion-panel >

<mat-expansion-panel-header style="height:70px">
 <mat-panel-title>
 <p> Rang : {{ indexNumber }} -  Prénom :   {{ firstName }} --  nom : {{ familyName }} - age : {{age}}  -- présence : {{ presence }}</p>
</mat-panel-title>
<mat-panel-description >
    <!-- events binding -->
    <!-- Property binding -->


</mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
 <mat-list-item style="margin:50px 0px 50px 0px">
    <button (click)='changeToAbsent()' [disabled]="!this.presence" mat-raised-button color="warn"> Marquer comme absent </button>
<button (click)='changeToPresent()' [disabled]="this.presence" mat-raised-button color="primary"> Marquer comme présent </button>
<button  [routerLink]="[indexNumber]" mat-raised-button color="secondary"> Détails </button>

  <mat-form-field style="margin:20px">
    <mat-label>Nom de l'éleve</mat-label>
    <!-- two-way binding -->

    <input matInput placeholder="Ex. Node.js" [(ngModel)]="firstName">
  </mat-form-field>
</mat-list-item>

 <mat-list-item  style="margin:20px">

<b> Liste de hobbies </b>
  <ul>
  <li *ngFor="let hobby of hobbiesList; let isLast = last">
  <!-- index, odd, even, first, last -->
  {{hobby}}
  <div style="width:50%; height:1px; background-color:black" *ngIf="!isLast"></div> </li>
  </ul>
   </mat-list-item>
    </mat-list>


</mat-expansion-panel>







